.example-full-width{
  width: 400px;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

.demo-table {
  width: 100%;
  background-color: #1b1b38;
}
.paginator{
  background-color: #252547;
} 
