<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <header class="p-3 mb-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/main-page" class="nav-link px-2 text-secondary">Inicio</a></li>
              <li><a href="/von-neuman" class="nav-link px-2 text-white">Von Neuman</a></li>
              <li><a href="/cong-fund" class="nav-link px-2 text-white">Congruencia Fundamental</a></li> 
            </ul>   
            <div class="text-end">
              <button type="button" class="btn btn-outline-light me-2">Ingresar</button>
            </div>
          </div>
        </div>
    </header>
    <div class="container cuerpo card mt-3 mb-3 text-white">
        <a href="/von-neuman" class="nav-link"><h3><i class="bi bi-1-circle-fill"></i> Método de Von Neuman</h3></a>
        <a href="/cong-fund" class="nav-link"><h3><i class="bi bi-2-circle-fill"></i> Método de Congruencia Fundamental</h3></a>
    </div>
</body>
</html>