<nb-layout>
  <nb-layout-header fixed>
    <mat-toolbar class="bg-cosmic">
      <span><strong>MODELO Y SIMULACION</strong></span>
    </mat-toolbar>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>bookmark</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </nb-layout-header>

  <nb-sidebar>
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>
          Generador de <br> Numeros
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <a mat-button class="item" (click)="goToVonNeuman()">Von Neuman</a>
          <br>
          <a mat-button class="item" (click)="goToCongFund()">Congruencias</a>  
        </nb-accordion-item-body>
      </nb-accordion-item>
     
      <nb-accordion-item>
        <nb-accordion-item-header>
          Muestras aleatorias
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <a mat-button class="item" (click)="goToNumGen()">Generar valores</a>
          <br>
          <a mat-button class="item" (click)="goToNumGenHistory()">Historial</a> 
        </nb-accordion-item-body>  
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Modelos
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <a mat-button class="item" (click)="goToExistencias()">Existencias</a>
        </nb-accordion-item-body>  
      </nb-accordion-item>

    </nb-accordion>
    
  </nb-sidebar>
  
  <nb-layout-column>
  
  </nb-layout-column>
    
</nb-layout>